# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore log files and summary text files
*.txt

# Ignore virtual environment directories
env/
venv/
.venv/

# Ignore IDE specific directories
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
